.tablecolor {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.tablecolor td, .tablecolor th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

.tablecolor tr:nth-child(1) {
  font-weight: bold;
}

.tablecolor tbody td {
  font-size: 13px;
}
.tablecolor tr:nth-child(even) {
  background: #D0E4F5;
}

.tablecolor tr:first-child {
  background: blue;
  color: white
}

.thewhat {
  /* display: flex; */
  align-items: center;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 3px;
}

.thewhat #unit  {
  color: grey;
  font-size: 10px;
  padding-top: 0px;
}